<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Information</title>
    <link rel="stylesheet" href="style12.css">
</head>

<body>
    <div class="nav-container">
        <a href="/landing" class = "logo-link"><h2 class="logo">Giki Medical Center</h2></a>
        <h2 class="page-info">Update Doctors</h2>
    </div>
    <table class="doctor-table">
        <thead>
            <tr>
                <th>Doctor ID</th>
                <th>Name</th>
                <th>Specialization</th>
                <th>Experience</th>
                <th>Mobile Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% doctor.forEach(doctor => { %>
                <tr>
                    <td><%=doctor.doctor_id %></td>
                    <td><%=doctor.name %></td>
                    <td><%= doctor.specialization %></td>
                    <td><%= doctor.experience %></td>
                    <td><%= doctor.mobile_number %></td>
                    <td><%= doctor.email %></td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <div class="form">
        <h2>Update Information</h2>
        <% if (typeof error !=='undefined' && error) { %>
            <p class="error">
                <%= error %>
            </p>
            <% } %>
                <% if (typeof success !=='undefined' && success) { %>
                    <p class="success">
                        <%= success %>
                    </p>
                    <% } %>
                        <form action="/update-doctor-info" method="POST">
                            <input name="id" type="number" placeholder="Enter User ID">
                            <select id="attribute" name="attribute" onchange="showInput()">
                                <option value="">Select Attribute</option>
                                <option value="full_name">Name</option>
                                <option value="specialization">Specialization</option>
                                <option value="experience">Experience</option>
                                <option value="mobile_number">mobile-number</option>
                                <option value="email">Email</option>
                            </select>
                            <div id="input-field">
                                <input type="text" id="value" name="value" placeholder="Enter new value" required>
                            </div>
                            <button type="submit" class="submit-btn" id="submit-btn" disabled>Update</button>
                        </form>
    </div>

    <script src="script1.js"></script>
</body>

</html>